asgiref==3.9.1
Django==5.2.5
gunicorn==23.0.0
packaging==25.0
python-dotenv==1.1.1
sqlparse==0.5.3
typing-extensions==4.14.1
whitenoise==6.9.0

# spaCy et dépendances compatibles Render
wheel
setuptools
cython
spacy==3.5.3
blis==0.7.9

# autres dépendances
language-tool-python==2.8.1
gtts==2.5.0
Pillow==10.4.0
pydub==0.25.1
google-generativeai==0.3.2
